.idea/
/sesi-7/db/meili/data.ms/auth/data.mdb
/sesi-7/db/meili/data.ms/indexes/6cbcc2b2-f26e-48a6-80ad-7c101d9862af/data.mdb
/sesi-7/db/meili/data.ms/indexes/488d9be0-5472-46e3-8300-25ecd3cf82d6/data.mdb
/sesi-7/db/meili/data.ms/tasks/data.mdb
/sesi-7/db/meili/data.ms/instance-uid
/sesi-7/db/meili/data.ms/auth/lock.mdb
/sesi-7/db/meili/data.ms/indexes/6cbcc2b2-f26e-48a6-80ad-7c101d9862af/lock.mdb
/sesi-7/db/meili/data.ms/indexes/488d9be0-5472-46e3-8300-25ecd3cf82d6/lock.mdb
/sesi-7/db/meili/data.ms/tasks/lock.mdb
/sesi-7/db/meili/data.ms/VERSION
